body{
    background-color: beige;
}
/* h1의 자매인 모든 h2에 plum 배경색   ctrl+/-주석 */
h1~h2{  /*h1은 해당 안됨*/
    /* background-color: plum; */
}
/* h1의 자매 중 첫번째 h2만 hlum 배경색 */
h1+h2{  /*h1 기준 첫번째 자매는 h2임 그래서 h1+h3은 안됌*/
    background-color: plum;
}
/* h1과 h2는 plum 배경색 */
h1,h2{
    background-color: plum;
}
ul,ol, h5 ~ h6 {
    color:#333; /*font-color아님*/
    font-size: 32Px;
}
.korea{
    color:skyblue;

}
.japan, .canada{
    color:crimson;
}
.incheon{ /*나중에 다시 설정해서 skyblue가 아니라 darkblue*/
    color:darkblue;
}
.leader{
    color:purple;
}
li:nth-child(5){
    text-decoration: underline;
}
li:nth-child(even){  /*odd:홀수, even:짝수(2n) / 1n은 전체*/
    background-color: #eee;
}
li:nth-child(5n){ /*5n 5의 배수*/
    background-color: #aaa;
}
[type="text"]{
    background-color: aqua;
}
ul:nth-child(3) > li:nth-child(2):hover{
    text-decoration:overline;
}
body > div:nth-child(8) > ul:nth-child(3) > li:nth-child(2){ /*body > div:nth-child(8)을 생략해도 됨*/
    font-size: 8px;
}